<div *ngIf="searchUnused" class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSearch(f)" #f="ngForm">
          <div class="form-group">
            <label for="summonerName">Summoner Name</label>
            <input type="text" name="summonerName" id="summonerName" class="form-control" ngModel>
          </div>
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>

<div *ngIf="searched" class="container">
  <img [src]="summonerIconPath" alt="Summoner Icon" heigh="100" width="100" *ngIf="summonerIconPath">
  <h1>{{ summonerObject }}</h1>
  <div class="list-group">
    <div class="list-group-item" *ngFor="let stats of participantStats">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h3>{{ champions[stats.championId] }}</h3>
            <p>KDA: {{ stats.stats.kills }}/{{ stats.stats.deaths }}/{{ stats.stats.assists }} </p>
          </div>
          <div class="col-sm">
            <div class="container">
              <div class="row">
                <div class="col-">
                    <img [src]="summonerIconPath" alt="Summoner Icon" class="rounded border border-dark" *ngIf="summonerIconPath" height="50px" width="50px">
                </div>
                <div class="col-">
                    <img [src]="summonerIconPath" alt="Summoner Icon" class="rounded border border-dark" *ngIf="summonerIconPath" height="50px" width="50px">
                </div>
                <div class="col-">
                    <img [src]="summonerIconPath" alt="Summoner Icon" class="rounded border border-dark" *ngIf="summonerIconPath" height="50px" width="50px">
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-">
                    <img [src]="summonerIconPath" alt="Summoner Icon" class="rounded border border-dark" *ngIf="summonerIconPath" height="50px" width="50px">
                </div>
                <div class="col-">
                    <img [src]="summonerIconPath" alt="Summoner Icon" class="rounded border border-dark" *ngIf="summonerIconPath" height="50px" width="50px">
                </div>
                <div class="col-">
                    <img [src]="summonerIconPath" alt="Summoner Icon" class="rounded border border-dark" *ngIf="summonerIconPath" height="50px" width="50px">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm">
            One of three columns
          </div>
    </div>
      </div>
    </div> 
  </div>  
</div>