<div *ngIf="searchUnused" class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSearch(f)" #f="ngForm">
        <div class="form-group">
          <label for="summonerName">Summoner Name</label>
          <input type="text" name="summonerName" id="summonerName" class="form-control" ngModel>
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>

<div *ngIf="searched" class="container">
  <img class="rounded border border-dark profile" [src]="summonerIconPath" alt="Summoner Icon" height="100" width="100"
    *ngIf="summonerIconPath">
  <h1>{{ summonerObject }}</h1>

  <div class="list-group">
    <div class="list-group-item" *ngFor="let stats of participantStats" [ngClass]="{
      'list-group-item-info' : stats.stats.win == true,
      'list-group-item-danger' : stats.stats.win == false
    }">
      <div class="container">
        <div class="row">
          <div class="col-sm-2 column1">
            <h3>{{ champions[stats.championId] }}</h3>
            <div class="content">
              <img src={{championIcon}}{{champions[stats.championId]}}.png height="75" width="75">
              <div>
                <img src={{spellIcon}}{{stats.spell1Id}}.png height="37.5" width="37.5">
                <img src={{spellIcon}}{{stats.spell2Id}}.png height="37.5" width="37.5">
              </div>
              <p>KDA: {{ stats.stats.kills }}/{{ stats.stats.deaths }}/{{ stats.stats.assists }}</p>
            </div>
          </div>

          <div class="col-sm-4 my-auto">
            <div class="container column2">
              <div class="container">
                <div class="row">
                  <div class="col- item0">
                    <img src={{itemImgSrc0}}{{stats.stats.item0}}.png alt="Item Icon 0"
                      class="rounded border border-dark" *ngIf="stats.stats.item0" height="65px" width="65px">
                    <img src={{defaultIcon}}29.png alt="Summoner Icon" class="rounded border border-dark"
                      *ngIf="!stats.stats.item0" height="65px" width="65px">
                  </div>
                  <div class="col- item1">
                    <img src={{itemImgSrc1}}{{stats.stats.item1}}.png alt="Item Icon 1"
                      class="rounded border border-dark" *ngIf="stats.stats.item1" height="65px" width="65px">
                    <img src={{defaultIcon}}29.png alt="Summoner Icon" class="rounded border border-dark"
                      *ngIf="!stats.stats.item1" height="65px" width="65px">
                  </div>
                  <div class="col- item2">
                    <img src={{itemImgSrc2}}{{stats.stats.item2}}.png alt="Item Icon 2"
                      class="rounded border border-dark" *ngIf="stats.stats.item2" height="65px" width="65px">
                    <img src={{defaultIcon}}29.png alt="Summoner Icon" class="rounded border border-dark"
                      *ngIf="!stats.stats.item2" height="65px" width="65px">
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row itemRow2">
                  <div class="col- item3">
                    <img src={{itemImgSrc3}}{{stats.stats.item3}}.png alt="Item Icon 3"
                      class="rounded border border-dark" *ngIf="stats.stats.item3" height="65px" width="65px">
                    <img src={{defaultIcon}}29.png alt="Summoner Icon" class="rounded border border-dark"
                      *ngIf="!stats.stats.item3" height="65px" width="65px">
                  </div>
                  <div class="col- item4">
                    <img src={{itemImgSrc4}}{{stats.stats.item4}}.png alt="Item Icon 4"
                      class="rounded border border-dark" *ngIf="stats.stats.item4" height="65px" width="65px">
                    <img src={{defaultIcon}}29.png alt="Summoner Icon" class="rounded border border-dark"
                      *ngIf="!stats.stats.item4" height="65px" width="65px">
                  </div>
                  <div class="col- item5">
                    <img src={{itemImgSrc5}}{{stats.stats.item5}}.png alt="Item Icon 5"
                      class="rounded border border-dark" *ngIf="stats.stats.item5" height="65px" width="65px">
                    <img src={{defaultIcon}}29.png alt="Summoner Icon" class="rounded border border-dark"
                      *ngIf="!stats.stats.item5" height="65px" width="65px">
                  </div>
                  <!-- <div class="col- trinket">
                    <img src={{itemImgSrc5}}{{stats.stats.item6}}.png alt="Item Icon 6"
                      class="rounded border border-dark" *ngIf="stats.stats.item6" height="65px" width="65px">
                  </div> -->
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-2  column3">
            <div>
              Gold: {{ stats.stats.goldEarned }}
            </div>
            <div>
              Minions: {{ stats.stats.neutralMinionsKilled }}
            </div>
          </div>
          <div class="col-sm-5 column4">
            <div class="container">
              <div class="row">
                <div class="col-sm-auto">
                  <div class="blue">
                    <img src={{championIcon}}{{champions[stats.stats.bchamp1]}}.png height="20" width="20">
                    {{ stats.stats.blue1 }}
                  </div>
                  <div class="blue">
                    <img src={{championIcon}}{{champions[stats.stats.bchamp2]}}.png height="20" width="20">
                    {{ stats.stats.blue2 }}
                  </div>
                  <div class="blue">
                    <img src={{championIcon}}{{champions[stats.stats.bchamp3]}}.png height="20" width="20">
                    {{ stats.stats.blue3 }}
                  </div>
                  <div class="blue">
                    <img src={{championIcon}}{{champions[stats.stats.bchamp4]}}.png height="20" width="20">
                    {{ stats.stats.blue4 }}
                  </div>
                  <div class="blue">
                    <img src={{championIcon}}{{champions[stats.stats.bchamp5]}}.png height="20" width="20">
                    {{ stats.stats.blue5 }}
                  </div>
                </div>
                <div class="col-sm-auto">
                  <div class="red">
                    <img src={{championIcon}}{{champions[stats.stats.rchamp1]}}.png height="20" width="20">
                    {{ stats.stats.red1 }}
                  </div>
                  <div class="red">
                    <img src={{championIcon}}{{champions[stats.stats.rchamp2]}}.png height="20" width="20">
                    {{ stats.stats.red2 }}
                  </div>
                  <div class="red">
                    <img src={{championIcon}}{{champions[stats.stats.rchamp3]}}.png height="20" width="20">
                    {{ stats.stats.red3 }}
                  </div>
                  <div class="red">
                    <img src={{championIcon}}{{champions[stats.stats.rchamp4]}}.png height="20" width="20">
                    {{ stats.stats.red4 }}
                  </div>
                  <div class="red">
                    <img src={{championIcon}}{{champions[stats.stats.rchamp5]}}.png height="20" width="20">
                    {{ stats.stats.red5 }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>