.trinket {
    display: inline-block;
}

.column1 {
    text-align: center;
    margin-left: -50px;
}

.column3 {
    text-align: center;
    margin: auto;
}

.column2 {
    margin: auto;
}

.item0, .item3 {
    display: inline-block;
    margin-left: auto;
}

.item2, .item5 {
    display: inline-block;
    margin-right: auto;
}

.profile {
    margin-top: 50px;
}

.blue {
    margin-top: 10px;
}

.red {
    margin-top: 10px;
}

/* .column4 {
    margin-right: -6em;
} */