<div id="championContainer" class="alert alert-danger" *ngIf="error" style="text-align: center">
  <p>{{ error }}</p>
</div>
<div *ngIf="isLoading && !error" style="text-align: center; margin-top: 3em">
  <app-loading-spinner></app-loading-spinner>
</div>

<div class="container" *ngIf="!isLoading">
  <a routerLink="/history/{{summonerName}}"></a>
  <img class="border border-dark profile" [src]="summonerIconPath" alt="Summoner Icon" height="100" width="100"
    *ngIf="summonerIconPath">
  <h1>{{ summonerObject }}</h1>

  <div class="list-group">
    <div class="list-group-item" *ngFor="let stats of participantStats" [ngClass]="{
      'list-group-item-info' : stats.stats.win == true,
      'list-group-item-danger' : stats.stats.win == false
    }">
      <div class="container">
        <div class="row">
          <div class="col-sm-2 column1">
            <h5 class="champName">{{ champions[stats.championId] }}</h5>
            <div class="content">
              <img src={{championIcon}}{{champions[stats.championId]}}.png height="75" width="75"
                   class="champIcon">
              <div>
                <img src={{spellIcon}}{{stats.spell1Id}}.png height="37.5" width="37.5"
                     class="spellIcon">
                <img src={{spellIcon}}{{stats.spell2Id}}.png height="37.5" width="37.5"
                     class="spellIcon">
              </div>
              <p class="kda">KDA: {{ stats.stats.kills }}/{{ stats.stats.deaths }}/{{ stats.stats.assists }}</p>
            </div>
          </div>

          <div class="col-sm-3 my-auto iconColumn">
            <div class="container column2">
              <div class="container">
                <div class="row">
                  <div class="col- item0">
                    <img src={{itemImgSrc0}}{{stats.stats.item0}}.png alt="Item Icon 0"
                      class="rounded border border-dark" *ngIf="stats.stats.item0" height="65px" width="65px">
                    <img src={{defaultIcon}}29.png alt="Summoner Icon" class="rounded border border-dark"
                      *ngIf="!stats.stats.item0" height="65px" width="65px">
                  </div>
                  <div class="col- item1">
                    <img src={{itemImgSrc1}}{{stats.stats.item1}}.png alt="Item Icon 1"
                      class="rounded border border-dark" *ngIf="stats.stats.item1" height="65px" width="65px">
                    <img src={{defaultIcon}}29.png alt="Summoner Icon" class="rounded border border-dark"
                      *ngIf="!stats.stats.item1" height="65px" width="65px">
                  </div>
                  <div class="col- item2">
                    <img src={{itemImgSrc2}}{{stats.stats.item2}}.png alt="Item Icon 2"
                      class="rounded border border-dark" *ngIf="stats.stats.item2" height="65px" width="65px">
                    <img src={{defaultIcon}}29.png alt="Summoner Icon" class="rounded border border-dark"
                      *ngIf="!stats.stats.item2" height="65px" width="65px">
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row itemRow2">
                  <div class="col- item3">
                    <img src={{itemImgSrc3}}{{stats.stats.item3}}.png alt="Item Icon 3"
                      class="rounded border border-dark" *ngIf="stats.stats.item3" height="65px" width="65px">
                    <img src={{defaultIcon}}29.png alt="Summoner Icon" class="rounded border border-dark"
                      *ngIf="!stats.stats.item3" height="65px" width="65px">
                  </div>
                  <div class="col- item4">
                    <img src={{itemImgSrc4}}{{stats.stats.item4}}.png alt="Item Icon 4"
                      class="rounded border border-dark" *ngIf="stats.stats.item4" height="65px" width="65px">
                    <img src={{defaultIcon}}29.png alt="Summoner Icon" class="rounded border border-dark"
                      *ngIf="!stats.stats.item4" height="65px" width="65px">
                  </div>
                  <div class="col- item5">
                    <img src={{itemImgSrc5}}{{stats.stats.item5}}.png alt="Item Icon 5"
                      class="rounded border border-dark" *ngIf="stats.stats.item5" height="65px" width="65px">
                    <img src={{defaultIcon}}29.png alt="Summoner Icon" class="rounded border border-dark"
                      *ngIf="!stats.stats.item5" height="65px" width="65px">
                  </div>
                  <!-- <div class="col- trinket">
                    <img src={{itemImgSrc5}}{{stats.stats.item6}}.png alt="Item Icon 6"
                      class="rounded border border-dark" *ngIf="stats.stats.item6" height="65px" width="65px">
                  </div> -->
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-2  column3">
            <div class="stats">
              Gold: {{ stats.stats.goldEarned }}
            </div>
            <div class="stats">
              Minions: {{ stats.stats.neutralMinionsKilled }}
            </div>
          </div>
          <div class="col-sm-auto column4">
            <div class="container-fluid teamColumn">
              <div class="row">
                <div class="col-sm-auto blueColumn">
                  <div class="blue">
                    <img src={{championIcon}}{{champions[stats.stats.bchamp1]}}.png height="20" width="20"
                         class="miniChampIcon">
                    {{ stats.stats.blue1 }}
                  </div>
                  <div class="blue">
                    <img src={{championIcon}}{{champions[stats.stats.bchamp2]}}.png height="20" width="20"
                         class="miniChampIcon">
                    {{ stats.stats.blue2 }}
                  </div>
                  <div class="blue">
                    <img src={{championIcon}}{{champions[stats.stats.bchamp3]}}.png height="20" width="20"
                         class="miniChampIcon">
                    {{ stats.stats.blue3 }}
                  </div>
                  <div class="blue">
                    <img src={{championIcon}}{{champions[stats.stats.bchamp4]}}.png height="20" width="20"
                         class="miniChampIcon">
                    {{ stats.stats.blue4 }}
                  </div>
                  <div class="blue">
                    <img src={{championIcon}}{{champions[stats.stats.bchamp5]}}.png height="20" width="20"
                         class="miniChampIcon">
                    {{ stats.stats.blue5 }}
                  </div>
                </div>
                <div class="col-sm-auto redColumn">
                  <div class="red">
                    <img src={{championIcon}}{{champions[stats.stats.rchamp1]}}.png height="20" width="20"
                         class="miniChampIcon">
                    {{ stats.stats.red1 }}
                  </div>
                  <div class="red">
                    <img src={{championIcon}}{{champions[stats.stats.rchamp2]}}.png height="20" width="20"
                         class="miniChampIcon">
                    {{ stats.stats.red2 }}
                  </div>
                  <div class="red">
                    <img src={{championIcon}}{{champions[stats.stats.rchamp3]}}.png height="20" width="20"
                         class="miniChampIcon">
                    {{ stats.stats.red3 }}
                  </div>
                  <div class="red">
                    <img src={{championIcon}}{{champions[stats.stats.rchamp4]}}.png height="20" width="20"
                         class="miniChampIcon">
                    {{ stats.stats.red4 }}
                  </div>
                  <div class="red">
                    <img src={{championIcon}}{{champions[stats.stats.rchamp5]}}.png height="20" width="20"
                         class="miniChampIcon">
                    {{ stats.stats.red5 }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>